# Introduction 

<div><p>In the last mission, we learned some of the built-in functions and methods that make exploring and analyzing data easier with pandas. In this mission, we'll continue working with the 2017 Fortune <a href="https://en.wikipedia.org/wiki/Fortune_Global_500" target="_blank">Global 500</a> dataset as we learn more advanced selection and exploration techniques.</p>
<p>As a reminder, the data dictionary for the main columns in the <code>f500.csv</code> file is below:</p>
<ul>
<li><code>company</code>: Name of the company.</li>
<li><code>rank</code>: Global 500 rank for the company.</li>
<li><code>revenues</code>: Company's total revenue for the fiscal year, in millions of dollars (USD).</li>
<li><code>revenue_change</code>: Percentage change in revenue between the current and prior fiscal year.</li>
<li><code>profits</code>: Net income for the fiscal year, in millions of dollars (USD).</li>
<li><code>sector</code>: Sector in which the company operates.</li>
<li><code>previous_rank</code>: Global 500 rank for the company for the prior year.</li>
<li><code>country</code>: Country in which the company is headquartered.</li>
<li><code>hq_location</code>: City and country, (or city and state for the USA) where the company is headquartered.</li>
<li><code>employees</code>: Total employees (full-time equivalent, if available) at fiscal year-end.</li>
</ul>
<p>So far, we've provided the code to read the CSV file into pandas for you. To start this mission, we'll learn how to use the <a href="http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html" target="_blank"><code>pandas.read_csv()</code> function</a> to read in CSV files. </p>
<p>Let's take a look at the first few lines of our CSV file in its raw form. To make it easier to read, we're only showing the first four columns from each line:</p>
</div>

```

```

<div>
<p>In this next exercise, let's take a closer look at how this data is read into a dataframe.</p></div>

### Instructions 

<p>We've already read the data set into a pandas dataframe and assigned it to a variable named <code>f500</code>. We also replaced all <code>0</code> values in the <code>previous_rank</code> column with <code>NaN</code>, like we did in the previous mission.</p>
<ol>
<li>Select the <code>rank</code>, <code>revenues</code>, and <code>revenue_change</code> columns in <code>f500</code>. Then, use the <code>DataFrame.head()</code> method to select the first five rows. Assign the result to <code>f500_selection</code>.</li>
<li>Use the variable inspector to view <code>f500_selection</code>. Compare the results to the first few lines of our CSV file above.</li>
<li>Take a look at the documentation for the <a href="http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html" target="_blank"><code>pandas.read_csv()</code> function</a> to try to understand the results. If you have trouble understanding, don't worry! We'll explain the results on the next screen.</li>
</ol>

In [2]:
import pandas as pd
import numpy as np

# read the data set into a pandas dataframe
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [3]:
f500_selection = f500[["rank", "revenues", "revenue_change"]].head(5)

# Reading CSV files with Pandas 

<div><p>In the last exercise, we used the snippet below to read our CSV file into pandas:</p>
</div>

```
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None
```

<div>
<p>When we compared the result to the first couple lines in the CSV, you may have noticed that the index axis labels are actually the values from the first column in the data set, <code>company</code>:</p>
</div>

```
company,rank,revenues,revenue_change
Walmart,1,485873,0.8
State Grid,2,315199,-4.4
Sinopec Group,3,267518,-9.1
China National Petroleum,4,262573,-12.3
Toyota Motor,5,254694,7.7
```

<div>
<p><img src="https://s3.amazonaws.com/dq-content/292/csv_to_dataframe.svg" alt="csv_to_dataframe"></p>
<p>If we check the documentation for the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html" target="_blank"><code>read_csv()</code> function</a>, we can see that the <code>index_col</code> parameter is an optional argument and should specify which column to use as the row labels for the dataframe. When we used a value of <code>0</code>, we specified that we wanted to use the <em>first</em> column as the row labels.</p>
<p>Let's look at what the <code>f500</code> dataframe looks like if we remove the second line: <code>f500.index.name = None</code>.</p>
</div>

```
f500 = pd.read_csv("f500.csv", index_col=0)
```
```
_                         rank  revenues  revenue_change
company                                                    
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7
```

<div>
<p>Notice that above the index labels is the text <code>company</code>, the name of the first column in the CSV. Pandas used this value as the <strong>axis name</strong> for the index axis.</p>
<p>Both the column and index axes can have names assigned to them. However, we originally used the code below to access the name of the index axes and set it to <code>None</code>, so our dataframe didn't have a name for the index axis:</p>
</div>

```
f500.index.name = None
```

<div>
<p>Let's return to the remaining code:</p>
</div>

```
f500 = pd.read_csv("f500.csv", index_col=0)
```

<div>
<p>Next, let's see what the dataframe looks like if we use <code>pandas.read_csv()</code> without the <code>index_col</code> parameter.</p></div>

### Instructions 

<ol>
<li>Use the <code>pandas.read_csv()</code> function to read the <code>f500.csv</code> CSV file as a pandas dataframe. Assign it to the variable name <code>f500</code>.<ul>
<li>Do not use the <code>index_col</code> parameter.</li>
</ul>
</li>
<li>Use the code below to insert the NaN values into the <code>previous_rank</code> column:
    <code>f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan</code></li>
</ol>

In [4]:
f500 = pd.read_csv("f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

# Using `iloc` to select by integer position 

<div><p>In the last screen, we read our CSV file into pandas again. However, this time, we didn't use the <code>index_col</code> parameter:</p>
</div>

```
f500 = pd.read_csv("f500.csv")
print(f500[['company', 'rank', 'revenues']].head())
```
```
_                   company  rank  revenues
0                   Walmart     1    485873
1                State Grid     2    315199
2             Sinopec Group     3    267518
3  China National Petroleum     4    262573
4              Toyota Motor     5    254694
```

<div>
<p>There are two differences with this approach:</p>
<ul>
<li>The <code>company</code> column is now included as a regular column, instead of being used for the index.</li>
<li>The index labels are now integers starting from <code>0</code>.</li>
</ul>
<p>This is the more conventional way to read in a dataframe, and it's the method we'll use from here on. </p>
<p>Recall that when we worked with a dataframe with <em>string</em> index labels, we used <code>loc[]</code> to select data:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/selection_loc.svg" alt="selection using label"></p>
<p>In some scenarios, using labels to make selections makes things easier â€” in others though, it makes things harder. </p>
<p>Just like in NumPy, we can also use <em>integer</em> positions to select data using <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html" target="_blank"><code>Dataframe.iloc[]</code></a> and <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html" target="_blank"><code>Series.iloc[]</code></a>. It's easy to get <code>loc[]</code> and <code>iloc[]</code> confused at first, but the easiest way is to remember the first letter of each method:</p>
<ul>
<li><strong>l</strong>oc: <strong>l</strong>abel based selection</li>
<li><strong>i</strong>loc: <strong>integer</strong> position based selection</li>
</ul>
<p>Using <code>iloc[]</code> is almost identical to indexing with NumPy, with integer positions starting at <code>0</code> like ndarrays and Python lists. Let's look at how we would perform the selection above using <code>iloc[]</code>:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/selection_iloc.svg" alt="selection using iloc"></p>
<p>As you can see, <code>DataFrame.iloc[]</code> behaves similarly to <code>DataFrame.loc[]</code>. The full syntax for <code>DataFrame.iloc[]</code>, in pseudocode, is:</p>
</div>

```
df.iloc[row_index, column_index]
```

<div>
<p>Let's practice using <code>iloc[]</code> next.</p></div>

### Instructions 

<ol>
<li>Select just the fifth row of the <code>f500</code> dataframe. Assign the result to <code>fifth_row</code>.</li>
<li>Select the value in first row of the <code>company</code> column. Assign the result to <code>company_value</code>.</li>
</ol>

In [5]:
fifth_row = f500.iloc[4]
company_value = f500.iloc[0]["company"]

<div><p>In the last screen, we learned how to select a row or value by <em>integer position</em> using <code>DataFrame.iloc[]</code>. As a reminder, the full syntax for <code>DataFrame.iloc[]</code> in pseudocode is:</p>
</div>

```
df.iloc[row_index,column_index]
```

<div>
<p>Let's say we wanted to select just the first column from our <code>f500</code> dataframe. To do this, we use <code>:</code> (a colon) to specify all rows, and then use the integer <code>0</code> to specify the first column:</p>
</div>

```
first_column = f500.iloc[:,0]
print(first_column)
```
```
0                        Walmart
1                     State Grid
2                  Sinopec Group
...
497    Wm. Morrison Supermarkets
498                          TUI
499                   AutoNation
Name: company, dtype: object
```

<div>
<p>To specify a positional slice, we can take advantage of the same shortcut that we use with labels. Here's how we would select the rows between index positions one to four (inclusive):</p>
</div>

```
second_to_sixth_rows = f500[1:5]
```
```
company  rank  revenues ... employees  total_stockholder_equity
1         State Grid     2    315199 ...    926067                    209456
2      Sinopec Group     3    267518 ...    713288                    106523
3  China National...     4    262573 ...   1512048                    301893
4       Toyota Motor     5    254694 ...    364445                    157210
```

<div>
<p>In the example above, the row at index position <code>5</code> is not included, just as if we were slicing with a Python list or NumPy ndarray. Recall that <code>loc[]</code> handles slicing differently:</p>
<ul>
<li>With <code>loc[]</code>, the ending slice <strong>is</strong> included.</li>
<li>With <code>iloc[]</code>, the ending slice <strong>is not</strong> included.</li>
</ul>
<p>The table below summarizes how we can use <code>DataFrame.iloc[]</code> and <code>Series.iloc[]</code> to select by integer position:</p>
<table>
<thead>
<tr>
<th>Select by integer position</th>
<th>Explicit Syntax</th>
<th>Shorthand Convention</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single column from dataframe</td>
<td><code>df.iloc[:,3]</code></td>
<td></td>
</tr>
<tr>
<td>List of columns from dataframe</td>
<td><code>df.iloc[:,[3,5,6]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of columns from dataframe</td>
<td><code>df.iloc[:,3:7]</code></td>
<td></td>
</tr>
<tr>
<td>Single row from dataframe</td>
<td><code>df.iloc[20]</code></td>
<td></td>
</tr>
<tr>
<td>List of rows from dataframe</td>
<td><code>df.iloc[[0,3,8]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of rows from dataframe</td>
<td><code>df.iloc[3:5]</code></td>
<td><code>df[3:5]</code></td>
</tr>
<tr>
<td>Single items from series</td>
<td><code>s.iloc[8]</code></td>
<td><code>s[8]</code></td>
</tr>
<tr>
<td>List of item from series</td>
<td><code>s.iloc[[2,8,1]]</code></td>
<td><code>s[[2,8,1]]</code></td>
</tr>
<tr>
<td>Slice of items from series</td>
<td><code>s.iloc[5:10]</code></td>
<td><code>s[5:10]</code></td>
</tr>
</tbody>
</table>
<p>Let's practice using <code>DataFrame.iloc[]</code> next.</p></div>

### Instructions 

<ol>
<li>Select the first three rows of the <code>f500</code> dataframe. Assign the result to <code>first_three_rows</code>.</li>
<li>Select the first and seventh rows and the first five columns of the <code>f500</code> dataframe. Assign the result to <code>first_seventh_row_slice</code>.</li>
<li>After running your code, use the variable inspector to examine each of the objects you created.</li>
</ol>

In [6]:
first_three_rows = f500.iloc[0:3, :]
first_seventh_row_slice = f500.iloc[[0, 6], 0:5]

# Using Pandas methods to create Boolean masks 

<div><p>In the last couple missions, we used Python boolean operators like <code>&gt;</code>, <code>&lt;</code>, and <code>==</code> to create boolean masks to select subsets of data. There are also a number of pandas methods that return boolean masks useful for exploring data.</p>
<p>Two examples are the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html" target="_blank"><code>Series.isnull()</code> method</a> and <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html" target="_blank"><code>Series.notnull()</code> method</a>. These can be used to select either rows that contain null (or NaN) values or rows that do <strong>not</strong> contain null values for a certain column.</p>
<p>First, let's use the <code>Series.isnull()</code> method to view rows with null values in the <code>revenue_change</code> column:</p>
</div>

```
rev_is_null = f500["revenue_change"].isnull()
print(rev_is_null.head())
```
```
0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool
```

<div>
<p>We see that using <code>Series.isnull()</code> resulted in a boolean series. Just like in NumPy, we can use this series to filter our dataframe, <code>f500</code>:</p>
</div>

```
rev_change_null = f500[rev_is_null]
print(rev_change_null[["company","country","sector"]])
```
```
_`                       company  country      sector
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology
```

<div>
<p>We can confirm that the two companies with missing values for the <code>revenue_change</code> column are Uniper, a German energy company, and Hewlett Parkard Enterprise, an American technology company. Let's use what we've learned to find the null values in the <code>previous_rank</code> column next.</p></div>

### Instructions 

<ol>
<li>Use the <code>Series.isnull()</code> method to select all rows from <code>f500</code> that have a null value for the <code>previous_rank</code> column. Select only the <code>company</code>, <code>rank</code>, and <code>previous_rank</code> columns. Assign the result to <code>null_previous_rank</code>.</li>
</ol>

In [7]:
null_previous_rank = f500.loc[f500["previous_rank"].isnull(), ["company", "rank", "previous_rank"]]

# Working with integer labels 

<div><p>In the last exercise, we selected the rows with null values in the <code>previous_rank</code> column. Below are the first couple rows:</p>
<table class="dataframe">
<thead>
<tr>
<th></th>
<th>company</th>
<th>rank</th>
<th>previous_rank</th>
</tr>
</thead>
<tbody>
<tr>
<th>48</th>
<td>Legal &amp; General Group</td>
<td>49</td>
<td>NaN</td>
</tr>
<tr>
<th>90</th>
<td>Uniper</td>
<td>91</td>
<td>NaN</td>
</tr>
<tr>
<th>123</th>
<td>Dell Technologies</td>
<td>124</td>
<td>NaN</td>
</tr>
</tbody>
</table>
<p>Above, we can see that index axis <em>labels</em> for this selection are <code>48</code>, <code>90</code>, and <code>123</code>. </p>
<p>If we wanted to select the first company from our new <code>null_previous_rank</code> dataframe by <em>integer position</em>, we can use <code>DataFrame.iloc[]</code>:</p>
</div>

```
first_null_prev_rank = null_previous_rank.iloc[0]
print(first_null_prev_rank)
```
```
company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object
```

<div>
<p>Let's see what happens when we use <code>DataFrame.loc[]</code> instead of <code>DataFrame.iloc[]</code>:</p>
</div>

```
first_null_prev_rank = null_previous_rank.loc[0]
```
```
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/python3.4/site-packages/pandas/core/indexing.py in _has_valid_type(self, key, axis)
   1410                 if key not in ax:
-> 1411                     error()
   1412             except TypeError as e:

/python3.4/site-packages/pandas/core/indexing.py in error()
   1405                 raise KeyError("the label [%s] is not in the [%s]" %
-> 1406                                (key, self.obj._get_axis_name(axis)))
   1407 

KeyError: 'the label [0] is not in the [index]'
```

<div>
<p>We get an error, telling us that the <code>the label [0] is not in the [index]</code> (the actual traceback for this error is much longer than this). Recall that <code>DataFrame.loc[]</code> is used for <em>label</em> based selection: </p>
<ul>
<li><strong>l</strong>oc: <strong>l</strong>abel based selection</li>
<li><strong>i</strong>loc: <strong>integer</strong> position based selection</li>
</ul>
<p>Because there is no row with a <code>0</code> label in the index, we got the error above. If we wanted to select a row using <code>loc[]</code>, we'd have to use the integer label for the first row â€” <code>48</code>.</p>
<p>Always think carefully about whether you want to select by <em>label</em> or <em>integer position</em>. Use <code>DataFrame.loc[]</code> or <code>DataFrame.iloc[]</code> accordingly. </p>
<p><img src="https://s3.amazonaws.com/dq-content/292/integer_labels_2.svg" alt="loc vs iloc for rows in different order"></p>
<p>Let's practice next.</p></div>

### Instructions 

<ol>
<li>Assign the first five rows of the <code>null_previous_rank</code> dataframe to the variable <code>top5_null_prev_rank</code> by choosing the correct method out of either <code>loc[]</code> or <code>iloc[]</code>.</li>
</ol>

In [8]:
null_previous_rank = f500[f500["previous_rank"].isnull()]
top5_null_prev_rank = null_previous_rank.iloc[0:5, :]

# Pandas index alignment 

<div><p>Now that we've identified the rows with null values in the <code>previous_rank</code> column, let's use the <code>Series.notnull()</code> method to exclude them from the next part of our analysis.</p>
</div>

```
previously_ranked = f500[f500["previous_rank"].notnull()]
```

<div>
<p>We can then create a <code>rank_change</code> column by subtracting the <code>rank</code> column from the <code>previous_rank</code> column:</p>
</div>

```
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
print(rank_change.shape)
print(rank_change.tail(3))
```
```
(467,)
496   -70.0
497   -61.0
498   -32.0
dtype: float64
```

<div>
<p>Above, we can see that our <code>rank_change</code> series has 467 rows. Since the last integer index label is 498, we know that our index labels no longer align with the integer positions. </p>
<p>Suppose now we decided to add the <code>rank_change</code> series to the <code>f500</code> dataframe as a new column. Its index labels no longer match the index labels in <code>f500</code>, so how could this be done?</p>
<p>Another powerful aspect of pandas is that almost every operation will <strong>align on the index labels</strong>. Let's look at an example â€“ below we have a dataframe named <code>food</code> and a series named <code>alt_name</code>:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/align_index_1_updated.svg" alt="align on index 1"></p>
<p>The <code>food</code> dataframe and the <code>alt_name</code> series not only have a different number of items, but they also only have two of the same index labels - <code>corn</code> and <code>eggplant</code> - and they're in different orders. If we wanted to add <code>alt_name</code> as a new column in our <code>food</code> dataframe, we can use the following code:</p>
</div>

```
food["alt_name"] = alt_name
```

<div>
<p>When we do this, pandas will ignore the order of the <code>alt_name</code> series, and align on the index labels:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/align_index_2_updated.svg" alt="align on index 2"></p>
<p>Pandas will also:</p>
<ul>
<li>Discard any items that have an index that doesn't match the dataframe (like <code>arugula</code>).</li>
<li>Fill any remaining rows with <code>NaN</code>.</li>
</ul>
<p>Below is the result:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/align_index_5_updated.svg" alt="align on index 3"></p>
<p>The pandas library will align on index at every opportunity, no matter if our index labels are strings or integers - this makes working with data from different sources or working with data when we have removed, added, or reordered rows much easier than it would be otherwise.</p></div>

### Instructions 

<ol>
<li>Use the <code>Series.notnull()</code> method to select all rows from <code>f500</code> that have a non-null value for the <code>previous_rank</code> column. Assign the result to <code>previously_ranked</code></li>
<li>From the <code>previously_ranked</code> dataframe, subtract the <code>rank</code> column from the <code>previous_rank</code> column. Assign the result to <code>rank_change</code>.</li>
<li>Assign the values in the <code>rank_change</code> to a new column in the <code>f500</code> dataframe, <code>"rank_change"</code>.</li>
<li>Once you have run your code, use the variable inspector to look at the <code>f500</code> dataframe and observe how the new column aligns with the existing data.</li>
</ol>

In [9]:
previously_ranked = f500[f500["previous_rank"].notnull()]

rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]

f500["rank_change"] = rank_change

# Using Boolean operators 

<div><p>Boolean indexing is a powerful tool which allows us to select or exclude parts of our data based on their values. However, to answer more complex questions, we need to learn how to combine boolean arrays.</p>
<p>To recap, boolean arrays are created using any of the Python standard <strong>comparison operators</strong>: <code>==</code> (equal), <code>&gt;</code> (greater than), <code>&lt;</code> (less than), <code>!=</code> (not equal).</p>
<p>We combine boolean arrays using <strong>boolean operators</strong>. In Python, these boolean operators are <code>and</code>, <code>or</code>, and <code>not</code>. In pandas, the operators are slightly different:</p>
<table>
<thead>
<tr>
<th>pandas</th>
<th>Python equivalent</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>a &amp; b</code></td>
<td><code>a and b</code></td>
<td><code>True</code> if both <code>a</code> and <code>b</code> are <code>True</code>, else <code>False</code></td>
</tr>
<tr>
<td><code>a | b</code></td>
<td><code>a or b</code></td>
<td><code>True</code> if either <code>a</code> or <code>b</code> is <code>True</code></td>
</tr>
<tr>
<td><code>~a</code></td>
<td><code>not a</code></td>
<td><code>True</code> if <code>a</code> is <code>False</code>, else <code>False</code></td>
</tr>
</tbody>
</table>
<p>Let's look at an example using <code>f500_sel</code>, a small selection of our <code>f500</code> dataframe:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/bool_ops_1.svg" alt="boolean operators example 1"></p>
<p>Suppose we wanted to find the companies in <code>f500_sel</code> with more than 265 billion in revenue that are headquartered in China. We'll start by performing two boolean comparisons to produce two separate boolean arrays (the revenue column is already in millions).</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/bool_ops_2.svg" alt="boolean operators example 2"></p>
<p>We then use the <code>&amp;</code> operator to combine the two boolean arrays using boolean "and" logic:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/bool_ops_3.svg" alt="boolean operators example 3"></p>
<p>Lastly, we use the combined boolean array to perform selection on our dataframe:</p>
<p><img src="https://s3.amazonaws.com/dq-content/292/bool_ops_4.svg" alt="boolean operators example 4"></p>
<p>The result gives us two companies from <code>f500_sel</code> that are both Chinese and have over 265 billion in revenue. </p>
<p>Let's practice more complex selection using boolean operators.</p></div>

### Instructions 

<ol>
<li>Select all companies with revenues over 100 billion and negative profits from the <code>f500</code> dataframe. The result should include all columns.<ul>
<li>Create a boolean array that selects the companies with revenues greater than 100 billion. Assign the result to <code>large_revenue</code>.</li>
<li>Create a boolean array that selects the companies with profits less than 0. Assign the result to <code>negative_profits</code>.</li>
<li>Combine <code>large_revenue</code> and <code>negative_profits</code>. Assign the result to <code>combined</code>.</li>
<li>Use <code>combined</code> to filter <code>f500</code>. Assign the result to <code>big_rev_neg_profit</code>.</li>
</ul>
</li>
</ol>

In [10]:
large_revenue = f500["revenues"] > 100000    # revenues column is in millions 
negative_profits = f500["profits"] < 0

combined = large_revenue & negative_profits

big_rev_neg_profit = f500[combined]

<div><p>In the last exercise, we identified companies that have both over 100 billion in revenue and negative profits:</p>
</div>

```
large_revenue = f500["revenues"] > 100000
negative_profits = f500["profits"] < 0
combined = large_revenue & negative_profits
big_rev_neg_profit = f500[combined]
```

<div>
<p>Just like when we use a single boolean array to perform selection, we don't need to use intermediate variables. The first place we can optimize our code is by combining our two boolean arrays in a single line, instead of assigning them to the intermediate <code>large_revenue</code> and <code>negative_profits</code> variables first:</p>
</div>

```
combined = (f500["revenues"] > 100000) & (f500["profits"] < 0)
```

<div>
<p>Notice that we used parentheses around each of our boolean comparisons.  This is very important â€” <strong>our boolean operation will fail without parentheses</strong>. Lastly, instead of assigning the boolean arrays to <code>combined</code>, we can insert the comparison directly into our selection:</p>
</div>

```
big_rev_neg_profit = f500[(f500["revenues"] > 100000) & (f500["profits"] < 0)]
```

<div>
<p>Whether to perform this final step is very much a matter of taste. As always, your decision should be driven by what will make your code more readable.</p>
<p>Let's practice more complex selection using boolean operators next:</p>
<table>
<thead>
<tr>
<th>pandas</th>
<th>Python equivalent</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>a &amp; b</code></td>
<td><code>a and b</code></td>
<td><code>True</code> if both <code>a</code> and <code>b</code> are <code>True</code>, else <code>False</code></td>
</tr>
<tr>
<td><code>a | b</code></td>
<td><code>a or b</code></td>
<td><code>True</code> if either <code>a</code> or <code>b</code> is <code>True</code></td>
</tr>
<tr>
<td><code>~a</code></td>
<td><code>not a</code></td>
<td><code>True</code> if <code>a</code> is <code>False</code>, else <code>False</code></td>
</tr>
</tbody>
</table></div>

### Instructions 

<ol>
<li>Select all rows for companies whose <code>country</code> value is either Brazil or Venezuela. Assign the result to <code>brazil_venezuela</code>.</li>
<li>Select the first five companies in the Technology sector for which the country is <strong>not</strong> the USA from the <code>f500</code> dataframe. Assign the result to <code>tech_outside_usa</code>.</li>
</ol>

In [11]:
brazil_venezuela = f500[(f500["country"] == "Brazil") | (f500["country"] == "Venezuela")]

tech_outside_usa = f500[(f500["sector"] == "Technology") & (f500["country"] != "USA")].head(5)

# Sorting values 

<div><p>Let's continue by answering more complex questions about our data set. Suppose we wanted to find the company that employs the most people in China. We can accomplish this by first selecting all of the rows where the <code>country</code> column equals <code>China</code>:</p>
</div>

```
selected_rows = f500[f500["country"] == "China"]

```

<div>
<p>Then, we can use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html" target="_blank"><code>DataFrame.sort_values()</code> method</a> to sort the rows on the <code>employees</code> column. To do so, we pass the column name to the method:</p>
</div>

```
sorted_rows = selected_rows.sort_values("employees")
print(sorted_rows[["company", "country", "employees"]].head())
```
```
_                               company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852
```

<div>
<p>By default, the <code>sort_values()</code> method will sort the rows in <em>ascending</em> order â€” from smallest to largest.</p>
<p>To sort the rows in <em>descending</em> order instead, so the company with the largest number of employees appears first, we can set the <code>ascending</code> parameter to <code>False</code>:</p>
</div>

```
sorted_rows = selected_rows.sort_values("employees", ascending=False)
print(sorted_rows[["company", "country", "employees"]].head())
```
```
_                       company country  employees
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368
```

<div>
<p>Now, we can see that the Chinese company that employs the most people is China National Petroleum. Let's find the Japanese company with the most employees next.</p></div>

### Instructions 

<ol>
<li>Find the company headquartered in Japan with the largest number of employees.<ul>
<li>Select only the rows that have a country name equal to <code>Japan</code>. </li>
<li>Use <code>DataFrame.sort_values()</code> to sort those rows <em>by</em> the <code>employees</code> column in <em>descending</em> order.</li>
<li>Use <code>DataFrame.iloc[]</code> to select the first row from the sorted dataframe.</li>
<li>Extract the company name from the index label <code>company</code> from the first row. Assign the result to <code>top_japanese_employer</code>. </li>
</ul>
</li>
<li>After running your code, use the variable inspector to view the top employer for <code>Japan</code>.</li>
</ol>

In [12]:
top_japanese_employer = f500[f500["country"] == "Japan"].sort_values("employees", ascending=False).iloc[0, :]["company"]

# Using loops with Pandas 

<div><p>On the last screen, we confirmed that the Japanese company that employs the most people is Toyota Motor. </p>
<p>Suppose we wanted to calculate the company that employs the most people in each of the 34 countries. Using the method from the last screen would be very inefficient, so we'll rely on a technique we haven't used yet with pandas - loops. </p>
<p>We've explicitly avoided using loops in pandas because one of the key benefits of pandas is that it has vectorized methods to work with data more efficiently. We'll learn more advanced techniques in later courses, but for now, we'll learn how to use loops for <strong>aggregation</strong>. </p>
<p>Aggregation is where we apply a statistical operation to groups of our data. Let's say that we wanted to calculate the average revenue for each country in the data set. Our process might look like this:</p>
<ul>
<li>Identify each unique country in the data set.</li>
<li>For each country:<ul>
<li>Select only the rows corresponding to that country.</li>
<li>Calculate the average revenue for those rows.</li>
</ul>
</li>
</ul>
<p>To identify the unique countries, we can use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html" target="_blank"><code>Series.unique()</code> method</a>.  This method returns an array of unique values from any series. Then, we can loop over that array and perform our operation. Here's what that looks like:</p>
</div>

```

```

<div>
<p>The resulting dictionary is below (we've shown just the first few keys):</p>
</div>

```

```

<div>
<p>We'll practice this pattern to calculate the company that employs the most people in each country.</p></div>

### Instructions 

<p>In this exercise, we're going to produce the following dictionary of the top employer in each country:</p>
<pre><code class="text">{'USA': 'Walmart',
 'China': 'China National Petroleum',
 'Japan': 'Toyota Motor',
 ...
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}
</code></pre>
<ol>
<li>Create an empty dictionary, <code>top_employer_by_country</code> to store the results of the exercise.</li>
<li>Use the <code>Series.unique()</code> method to create an array of unique values from the <code>country</code> column.</li>
<li>Use a for loop to iterate over the array unique countries. In each iteration:<ul>
<li>Select only the rows that have a country name equal to the current iteration.</li>
<li>Use <code>DataFrame.sort_values()</code> to sort those rows <em>by</em> the <code>employees</code> column in <em>descending</em> order.</li>
<li>Select the first row from the sorted dataframe.</li>
<li>Extract the company name from the index label <code>company</code> from the first row.</li>
<li>Assign the results to the <code>top_employer_by_country</code> dictionary, using the country name as the key, and the company name as the value.</li>
</ul>
</li>
<li>After running your code, use the variable inspector to view the top employer for each country.</li>
</ol>

In [13]:
top_employer_by_country = {}

for c in f500["country"].unique():
    top_employer = f500[f500["country"] == c].sort_values("employees", ascending=False).iloc[0, :]["company"]
    top_employer_by_country[c] = top_employer

# Challenge: Calculating "Return on Assets" by country 

<div><p>Now it's time for a challenge to bring everything together! In this challenge we're going to add a new column to our dataframe, and then perform some aggregation using that new column.</p>
<p>The column we create is going to contain a metric called <a href="https://www.inc.com/encyclopedia/return-on-assets-roa.html" target="_blank">return on assets</a> (ROA).  ROA is a business-specific metric which indicates a company's ability to make profit using their available assets.</p><br>
<center><p>Return on Assets = profit / assets</p></center>
<p>Once we've created the new column, we'll aggregate by sector, and find the company with the highest ROA from each sector.  Like previous challenges, we'll provide some guidance in the hints, but try to complete it without them if you can.</p>
<p>Don't be discouraged if this challenge takes a few attempts to get correct.  Working iteratively is a great way to work, and this challenge is more difficult than exercises you have previously completed.</p></div>

### Instructions 

<ol>
<li>Create a new column <code>roa</code> in the <code>f500</code> dataframe, containing the return on assets metric for each company.</li>
<li>Aggregate the data by the <code>sector</code> column, and create a dictionary <code>top_roa_by_sector</code>, with:<ul>
<li>Dictionary keys with the sector name.</li>
<li>Dictionary values with the company name with the highest ROA value from that sector.</li>
</ul>
</li>
</ol>

In [14]:
f500["roa"] = f500["profits"] / f500["assets"]

top_roa_by_sector = {}

for s in f500["sector"].unique():
    top_company = f500[f500["sector"] == s].sort_values("roa", ascending=False).iloc[0, :]["company"]
    top_roa_by_sector[s] = top_company